* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}

h2:first-child {
	margin-top: 0em;
}

h2 {
	margin-top: 1em;
	margin-bottom: 0.6em;
	color: #0A86BC;
}

a {
	text-decoration: none;
	color: #0A86BC;
}

a:hover {
	color: #0A86FF;
}

#container {
	padding: 2em 1em 0em 1em;
}

#kontakt {
	float: left;
	min-height: 100%;
	width: 18%;
	text-align: center;
}

#kontaktliste {
	margin-top: 1.5em;
	list-style-type: none;
}

#kontakt img {
	border-radius: 1px;
	width: 15vw;
}

#kontakt h2 {
	font-size: 1em;
	color: #000;
}

#text {
	float: right;
	width: calc(80% - 1px);
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-radius: 50px 0 0 0;
	padding-top: 1em;
	padding-left: 2%;
	margin-bottom: 2em;
}

#title {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #0A86BC;
	color: #fff;
}

#title h3 {
	font-size: 0.8em;
}

#title .fa {
	font-size: 0.7em;
}

#footer {
	padding-bottom: 1em;
	padding-top: 1em;
	font-size: 0.8em;
	clear: both;
	text-align: center;
	width: 100%;
	background-color: #0A86BC;
	color: #fff;
}

#footer a, #footer a:hover {
    color: #fff;
}

.small {
	font-size: 0.8em;
}

.read-more {
	text-align: right;
	cursor: pointer;
}

.hidden {
	display: none;
}

.btn {
	width: 75%;
	min-height: 2em;
	font-size: 0.8em;
	margin: 0.5em 0em 0.5em 0em;
	border: 1px solid #bbb;
}

.btn-red {
	background-color: #ff6677;
	border-color: #800000;
}

.btn-general {
	width: 100%;
	margin-bottom: 2em;
}

#admin-nav {
	float: left;
	margin-bottom: 2em;
	color: #000;
	width: 20vw;
	text-align: center;
}

#admin-nav a {
	color: inherit;
}

.nav-item {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid grey;
	cursor: pointer;
}

.nav-item:hover {
	background-color: #0A86BC;
	color: #fff;
}

.nav-item:last-child {
	border: none;
}

.nested-container {
	float: right;
	width: 70vw;
	margin-top: 1em;
}

.input-group {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

.input-group label {
	display: -moz-inline-box;
	min-width: 10vw;
}

.input-group input {
	min-width: 40vw;
}

.btn-form {
	width: 51vw;
}

.big-textarea {
	width: 100%;
	min-height: 40vh;
	margin-top: 1em;
}

.blog-item {
	border-bottom: 1px solid grey;
	padding-bottom: 1em;
	padding-top: 1em;
}

.blog-item:last-child {
	border-bottom: none;
}

.blogpost-title {
	width: 30%;
	margin-right: 20%;
	float: left;
}

.blogpost-actions {
	width: 50%;
	float: right;
}

.blogpost-date {
	margin-top: 0.5em;
}

.blogpost-slug {
	margin-top: 0.5em;
}

.clearfix {
	clear: both;
}

.smaller {
	font-size: 0.8em;
}

.error-message {
	text-size: 1.2em;
	background-color: red;
	color: #FFF;
	width: 50%;
	padding: 20px 5px 20px 5px;
	margin-top: 1em 0 0.5em 0;
}

@media all and (max-width: 700px) {
  #text {
  	margin-top: 2em;
  	width: 100%;
    float: none;
  }

  #kontakt {
    float: none;
    width: 100%;
    text-align: center;
  }

  #kontakt img {
	width: 50%;
  }

  #text {
  	border: none;
  }

  #title .fa {
  	display: none;
  }
}