* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}

h2:first-child {
	margin-top: 0em;
}

h1, h2 {
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}

a {
	text-decoration: none;
}

#container {
	padding: 2em 1em 0em 1em;
}

#sidebar {
	float: left;
	min-height: 100%;
	width: 18%;
	text-align: center;
}

#kontaktliste {
	margin-top: 1.5em;
	list-style-type: none;
}

#sidebar img {
	border-radius: 1px;
	width: 15vw;
}

#sidebar h2 {
	font-size: 1em;
	color: #000;
	margin-top: 1em;
}

#sidebar a {
	color: #000;
}

#text {
	float: right;
	width: calc(80% - 1px);
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-radius: 50px 0 0 0;
	padding-top: 1em;
	padding-left: 2%;
	margin-bottom: 2em;
	white-space: pre-wrap;
}

#title {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #fff;
}

#title h3 {
	font-size: 0.8em;
}

#title .fa {
	font-size: 0.7em;
}

#footer {
	padding-bottom: 1em;
	padding-top: 1em;
	font-size: 0.8em;
	clear: both;
	text-align: center;
	width: 100%;
	color: #fff;
}

#footer a, #footer a:hover {
    color: #fff;
}

.small {
	font-size: 0.8em;
}

.read-more {
	text-align: right;
	cursor: pointer;
}

.hidden {
	display: none;
}

.btn {
	width: 75%;
	min-height: 2em;
	font-size: 0.8em;
	margin: 0.5em 0em 0.5em 0em;
	border: 1px solid #bbb;
}

.btn-red {
	background-color: #ff6677;
	border-color: #800000;
}

.btn-general {
	width: 100%;
	margin-bottom: 2em;
}

#admin-nav {
	float: left;
	margin-bottom: 2em;
	color: #000;
	width: 20vw;
	text-align: center;
}

#admin-nav a {
	color: inherit;
}

.nav-item {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid grey;
	cursor: pointer;
}

.nav-item:hover {
	color: #fff;
}

.nav-item:last-child {
	border: none;
}

.nested-container {
	float: right;
	width: 70vw;
	margin-top: 1em;
}

.form-container {
	width: 50%;
}

.input-group {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	width: 100%;
	display: inline-flex;
}

.input-group label {
	min-width: 10vw;
}

.input-group input {
	width: 100%;
	margin-left: 1em;
}

.btn-form {
	width: 100%;
}

.big-textarea {
	width: 100%;
	min-height: 40vh;
	margin-top: 1em;
}

.blog-item {
	border-bottom: 1px solid grey;
	padding-bottom: 1em;
	padding-top: 1em;
}

.blog-item:last-child {
	border-bottom: none;
}

.blogpost-title {
	width: 30%;
	margin-right: 20%;
	float: left;
}

.blogpost-actions {
	width: 50%;
	float: right;
}

.blogpost-date {
	margin-top: 0.5em;
}

.blogpost-slug {
	margin-top: 0.5em;
}

.clearfix {
	clear: both;
}

.smaller {
	font-size: 0.8em;
}

.error-message {
	text-size: 1.2em;
	background-color: rgba(197, 60, 82, 0.8);
	color: #FFF;
	width: 100%;
	padding: 20px 0 20px 0;
	margin: 1em 0 0.5em 0;
}

.error-message span,
.success-message span {
	margin-left: 1em;
}

.success-message {
	text-size: 1.2em;
	background-color: rgba(113, 188, 120, 0.8);
	color: #FFF;
	width: 100%;
	padding: 20px 0 20px 0;
	margin: 1em 0 0.5em 0;
}

#adminNote {
	font-size: 0.7em;
	margin-top: 0.6em;
}

#menu {
	margin-top: 2em;
}

#blog {
	margin-bottom: 3em;
}

.blogpost {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 100%;
}

.blogpost h1 {
	text-align: center;
}

.blogpost small {
	font-size: 0.7em;
}

.blogpost-content {
	margin-top: 1em;
}

hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

tr {
	border-bottom: 1px solid #ccc;
}

tr:last-child {
	border-bottom: none;
}

td:nth-child(1) {
	width: 50%;
}

td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

@media all and (max-width: 700px) {
  #text {
  	margin-top: 2em;
  	width: 100%;
    float: none;
  }

  #sidebar {
    float: none;
    width: 100%;
    text-align: center;
  }

  #sidebar img {
	width: 50%;
  }

  #text {
  	border: none;
  }

  #title .fa {
  	display: none;
  }

  #admin-nav {
	  display: inline;
	  float: none;
  }

  #admin-content {
	  width: 100%;
  }

  .nav-item {
	  padding-top: 0.5em;
	  padding-bottom: 0.5em;
  }
}