<h2>Blogpost</h2>

<div class="error-message" ng-show="ctrl.showErrorMessage"><span>{{ctrl.errorMessage}}</span></div>

<form ng-submit="ctrl.saveBlogpost()">
	<div class="input-group">
		<input name="id" type="hidden" ng-model="ctrl.model.id" />
	</div>

	<div class="input-group">
		<label for="title">Titel:</label>
		<input name="title" type="text" ng-model="ctrl.model.title" />
	</div>

	<textarea class="big-textarea" name="text" ng-model="ctrl.model.content"></textarea>

	<button class="btn btn-form" type="submit">SPEICHERN</button>
</form>

<hr />

<h2>Erklärungen zu "Markdown"</h2>
<p>Das Eingabefeld verwendet "Markdown", um Inhalt zu formatieren. Anschliessend finden Sie eine Erklärung der verschiedenen Formate.</p>

<table>
	<tr>
		<td>
			Das ist ein grosser Titel<br />
			=====
		</td>
		<td>ergibt einen grossen Titel</td>
	</tr>
	<tr>
		<td>
			Das ist ein mittlerer Titel<br />
			=====
		</td>
		<td>ergibt einen mittleren Titel</td>
	</tr>
	<tr>
		<td>
			### Das ist ein kleiner Titel
		</td>
		<td>ergibt einen kleinen Titel</td>
	</tr>
	<tr>
		<td>
			**das hier ist fett**
		</td>
		<td>ergibt fettmarkierten Text</td>
	</tr>
	<tr>
		<td>
			*das hier ist kursiv*
		</td>
		<td>ergibt kursiven Text</td>
	</tr>
	<tr>
		<td>
			[Beschreibung des Links](http://beispiellink.ch)
		</td>
		<td>ergibt einen Link auf beispiellink.ch mit dem Text "Beschreibung des Links"</td>
	</tr>
	<tr>
		<td>
			* Punkt 1<br />
			* Punkt 2<br />
			* Punkt 3
		</td>
		<td>ergibt eine unsortierte Liste</td>
	</tr>
	<tr>
		<td>
			1. Punkt 1<br />
			2. Punkt 2<br />
			3. Punkt 3
		</td>
		<td>ergibt eine nummerierte Liste</td>
	</tr>
</table>